
body{
  background-image: url("https://media1.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=ecf05e473kuboso7rez6s4pdi27rg4sflmf2dykpc3ht0enh&rid=giphy.gif&ct=g") !important;
  background-size: contain;
  background-repeat: no-repeat;
  height: 700vh;
  background-color: black !important;
  color: white !important;
}
.logo{
  margin-left:5% ;
  font-family:fantasy;
  font-size: 40px;
  font-weight:lighter;
}


.loginForm {
  width: 50% !important;
  margin-left: 25%;
}

.create{
  margin-left: 25%;
}


table {
  margin-left: 15%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #434242;

}

table{
  font-size:larger;
  font-family: monospace;
}






.marg{
  margin-left: 10%;
font-size: 20px;
margin-top: -1%;
}


.logoutNav{
margin-left: 240%;
}



